.rubik-loader {
    width: 64px;
    height: 400px;
    margin: auto;
    background-image: url(/static/gameclub/images/home/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}
