.playground {
    width: 100vw;
    height: 100vh;
    outline: none;
    background: url(/static/splendor/assets/bg.jpg);
    background-size: cover;
    user-select: none;
}

canvas {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.top-board {
    width: 100vw;
    height: 6vh;
    color: whitesmoke;
    font-size: 1.5vw;
    position: fixed;
    z-index: 1000;
    line-height: 6vh;
}

.top-board-center {
    display: inline-block;
    margin-left: 50vw;
}

.top-board-out {
    display: inline-block;
    position: absolute;
    right: 0;
}

.top-board-out>button {
    background: none;
    outline: none;
    border: none;
    color: palevioletred;
    font-size: 1.5vw;
    cursor: pointer;
}

.card-click {
    position: fixed;
    z-index: 40000;
    color: black;
    user-select: none;
    display: none;
}

.element {
    background: whitesmoke;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    font-size: 1.3vw;
    text-align: center;
    line-height: 3vw;
    padding: 1vw;
    color: cadetblue;
    cursor: pointer;
}

.element-book {
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
    line-height: 2vw;
    padding: 1vw;
}

.no-click {
    cursor: not-allowed;
}

.book {
    margin-left: 3vw;
}

.token-click {
    position: fixed;
    z-index: 10000;
    display: none;
    margin-left: 83vw;
    padding-top: 0.5vw;
}

.token-click>button {
    background: none;
    border: none;
    color: black;
    border-radius: 0.5vw;
    width: 4vw;
    height: 5vh;
    cursor: pointer;
}

button.pick {
    background: #3232af;
}

button.cancel {
    background: #aaa;
}

.game-score-list {
    position: fixed;
    z-index: 10000;
    right: 0;
    color: whitesmoke;
    margin-top: 12vh;
    padding-right: 0.1vw;
    font-size: 1.3vw;
    text-align: center;
}

.game-score {
    padding-bottom: 17.5vh;
}

.error-message {
    position: fixed;
    display: none;
    z-index: 30000;
    color: white;
    background: #ea2929ad;
    font-size: 15px;
    border-radius: 10px;
    padding: 3px 20px;
}

.player-tick {
    color: whitesmoke;
    position: fixed;
    z-index: 20000;
    right: 17vw;
    font-size: 3vw;
    font-style: italic;
    display: none;
}

.pass-click {
    color: whitesmoke;
    position: fixed;
    z-index: 10000;
    left: 55vw;
    height: 4vh;
    line-height: 4vh;
    background: #3370ff;
    border-radius: 1vw;
    padding: 0 1vw;
    margin: 0.5vw 0 0;
    cursor: pointer;
}

.statistics-wrap {
    position: fixed;
    z-index: 40000;
    background: rgba(0 0 0 /50%);
    top: 0;
    width: 100%;
    height: 100%;
}

.statistics-box {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/splendor/assets/bg.jpg);
    background-size: cover;
    user-select: none;
    color: whitesmoke;
    top: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: fit-content;
    border: 1px solid #938b8b;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%);
    padding: 1vw;
}

.statistics-element > img {
    width: 4.5vw;
    height: 4.5vw;
    padding: 0 1vw;
    border-radius: 50%;
}

.statistics-title {
    padding: 1vw 1vw;
    font-size: 2vw;
}

.statistics-content {
    box-sizing: border-box;
}

.statistics-element > span {
    display: inline-block;
    width: 5vw;
    font-size: 2vw;
    line-height: 4.5vw;
    padding: 0 1vw;
    text-align: center;
    overflow: hidden;
    white-space:nowrap;
}

.statistics-element {
    padding: 1vw;
    height: 4.5vw;
}

.statistics-click {
    padding: 1vw;
    margin-left: 80%;
}

.statistics-click > button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: inherit;
    color: inherit;
    font-size: 2vw;
    padding: 0.5vw;
    text-align: center;
}

.statistics-click > button:hover {
    background: #f5f5f585;
    color: black;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.statistics-change-green {
    color: green;
}

.statistics-change-red {
    color: red;
}

.statistics-header {
    padding: 1vw 1vw 0 1vw;
    height: 4.5vw;
}

.statistics-header > span {
    width: 6vw;
    font-size: 2vw;
    line-height: 4.5vw;
    padding: 0 1vw;
    text-align: center;
}

.chat-input {
    position: absolute;
    right: 0.2vw;
    bottom: 0.2vw;
    width: 16vw;
    height: 2.5vw;
    color: black;
    font-size: 1vw;
    background-color: rgba(255,255,230, 0.2);
    border-radius: 0.5vw;
    z-index: 10000;
    display: none;
}

.chat-history {
    position: absolute;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
    width: 15vw;
    height: 30vw;
    right: 0.2vw;
    bottom: 2.7vw;
    border-radius: 1vw 1vw 0 0;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0.5vw;
    overflow: auto;
    display: none;
    font-size: 1.5vw;
}

.chat-history::-webkit-scrollbar {
    width: 0;
}

.chat-img {
    position: absolute;
    z-index: 20000;
    right: 0.5vw;
    bottom: 0.4vw;
    background: url(https://app3774.acapp.acwing.com.cn/static/splendor/images/playground/up.svg);
    background-size: cover;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.chat-img:hover {
    transform: rotate(180deg);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.playground-icon {
    position: fixed;
    z-index: 10000;
    width: 2vw;
    height: 2vw;
    background: url(/static/splendor/images/playground/setting.svg);
    background-size: contain;
    right: 2vw;
    top: 2.5vw;
    cursor: pointer;
}

.playground-icon:hover {
    transform: rotate(180deg);
    transition-duration: 1s;
}

.playground-setting-wrap {
    position: fixed;
    background: rgba(0,0,0, 0.8);
    color: whitesmoke;
    right: 1vw;
    top: 5vw;
    z-index: 40000;
    border-radius: 1vw;
    width: fit-content;
    padding: 1vw;
    box-sizing: border-box;
}

.title {
    margin-bottom: 1vw;
    height: 2vw;
    line-height: 2vw;
    font-size: 1.5vw;
}

.title > img {
    float: right;
    width: 2vw;
    cursor: pointer;
}

.title > img:hover {
    transform: rotate(180deg);
    transition-duration: 1s;
}

.slider-box {
    width: 20vw;
    padding: 0 1vw;
}

.name {
    margin: 1vw 0;
}

.action-slider {
    margin-bottom: 1vw;
}

.playground-setting {
    user-select: none;
}



#backslider .ui-slider-range {background: #3370ff;}
#actionslider .ui-slider-range {background: #3370ff;}