{% load static %}

<link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
<script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="{% static 'gameclub/css/dist/bar.css' %}">

<div id="bar-wrap">
    <div class="bar-box">
        <div class="bar-logo">
            <a href="//app3774.acapp.acwing.com.cn/">
                <img src="{% static 'gameclub/images/bar/logo.png' %}">
            </a>
        </div>
        <div class="bar-title">
            <a href="//app3774.acapp.acwing.com.cn/">前往GameClub</a>
        </div>
    </div>
</div>
<script>
</script>
