img {
    border-radius: 50%;
}

.gc-home-span {
    position: absolute;
    width: 100%;
    height: 760px;
    min-width: 1400px;
    min-height: 400px;
    color: lightpink;
}


.gc-home-span-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    user-select: none;
}

.gc-home-span-top-title {
    font-style: italic;
    font-size: 40px;
    line-height: 75px;
    margin-left: 40px;
}

.gc-home-span-top-opacity > img {
    width: 38px;
    vertical-align: middle;
}

.gc-home-span-top-opacity {
    box-sizing: border-box;
    margin-right: 460px;
    cursor: pointer;
}

.gc-home-span-top-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: -122px;
}

.gc-home-span-top-profile-name {
    padding-right: 15px;
    font-size: 25px;
    user-select: text;
}

.gc-home-span-top-profile-photo > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.gc-home-span-top-setting-img > img {
    width: 30px;
}

.gc-home-span-top-signout > button {
    background: no-repeat;
    border: none;
    color: inherit;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.gc-home-span-top-setting {
    cursor: pointer;
    margin-left: 100px;
}

.gc-home-span-page-setting {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    display: none;
    user-select: none;
    overflow: auto;
}

.button > button {
    position: relative;
    width: 60px;
    height: 30px;
    border: none;
    color: inherit;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0;
    text-align: left;
}

.opacity {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 25%;
}

.color{
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: -90px;
    width: 25%;
}

.setting-title {
    margin-bottom: 22.5px;
    width: 100%;
}

div#opacityslider {
    width: 100%;
    height: 10;
}

.ui-slider .ui-slider-handle {
    width: 0;
    height: 0;
}

#red, #green, #blue {
    height: 10;
    width: 100%;
    margin: 20px 0;
}

#opacityslider .ui-slider-range { background: black; }
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

.gc-home-span-page-setting::-webkit-scrollbar {
    width: 0;
}

.gc-home-span-top-setting-title {
    width: 40px;
}

.gc-home-span-top-setting-img > img:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0, 0.88, 0, 1.43);
}


.gc-home-span-game-title {
    font-size: 25px;
    text-align: left;
    font-style: oblique;
    padding: 20px 0 40px;
    display: inline-block
}
.gc-home-span-game {
    margin:auto;
    display: inline-block;
    width: 1000px;
    user-select: none;
}

.gc-home-setting-flex{
    display: flex !important;
    justify-content: space-evenly;
    align-items: flex-start;
}


.gc-home-game-element {
    padding: 10px 10px 0 10px;
    margin: 0 30px;
    border-radius: 12px;
    width: 200px;
    height: 135px;
    display: inline-block;
    vertical-align: top;
}

.gc-home-game-element-photo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.gc-home-game-element-photo > img {
    width: 100%;
    height: 100%;
}

.gc-home-game-element-title {
    font-size: 20px;
    overflow: hidden;
    line-height: 50px;
}

.gc-home-game-element-type {
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 3px 3px;
    background: #d3d3d378;
    margin: 0 5px;
}
.gc-home-game-element-types {
    padding-top: 20px;
    display: flex;
    color: black;
    justify-content: space-evenly;
}

.gc-home-game-element-date {
    text-align: center;
    padding-top: 5px;
    font-style: italic;
    font-size: 15px;
}

.gc-home-game-element-top {
    display: flex;
}

.button {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -90px;
}

.gc-home-span-top-opacity div {
    display: inline-block;
    height: 38px;
}

span.gc-home-span-top-opacity-title {
    line-height: 38px;
}

.gc-home-span-content {
    padding: 0 10px;
    user-select: none;
}

.gc-home-span-comments {
    display: inline-block;
    width: 300px;
    background: red;
}

.gc-home-span-social {
    display: inline-block;
    width: 300px;
    background: red;
}

.gc-home-span-game-list-wrap:before {
    content: '';
    display: table;
}

.gc-home-span-game-list-wrap:after {
    content: '';
    display: table;
    clear: both;
}

.gc-home-span-game-list-left {
    display: inline-block;
    width: 30px;
    height: 145px;
    vertical-align: top;
}

.gc-home-span-game-list-left > img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-right: 10px;
}

.gc-home-span-game-content {
    display: inline-block;
    overflow: hidden;
    height: 150px;
    width: 860px;
}

.gc-home-span-game-list {
    width: 10000px;
    transform: translateX(0px);
    transition: 1s;
}

.gc-home-span-game-list-search {
    display: inline-block;
    width: 50px;
    height: 145px;
    vertical-align: top;
}

.gc-home-span-game-list-right {
    display: inline-block;
    width: 30px;
    height: 145px;
    vertical-align: top;
}

.gc-home-span-game-list-search > img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    display: block;
}

.gc-home-span-game-list-search > span {
    display: block;
    padding-top: 30px;
    text-align: center;
}

.gc-home-span-game-list-right > img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-left: 10px;
}

a{
    cursor: pointer;
}


.gc-home-span-game-title {
    display: inline-block;
}

.gc-home-span-game-search-input {
    display: inline-block;
    position: relative;
    left: 80%;
}

.gc-home-span-game-search-input > input {
    outline: none;
    background: none;
    border: none;
    color: inherit;
    height: 30px;
    width: 200px;
    font-size: 20px;
    display: none;
}

.gc-home-span-game-search-input > input::-webkit-input-placeholder {
    color: inherit;
}

.gc-home-game-element:hover {
    transition: 0.5s;
    box-shadow: 20px 11px 50px rgb(0 0 0 / 30%);
    position: relative;
    right: 10px;
}
